*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    background-position: center;
    background-size: cover;
    
    img{
        width: 100%;

    }
}

.bot{
    margin-top: 10rem;
    input{
        margin-top: 5rem;
    }
}

button{
padding: 2px  20px;
margin-bottom: 5rem;
}

section{
    h1{
        border: 3px solid white;
        border-radius: 15px;
        background-color: white;
        width: 20%;
        margin: auto;
    } 

    h3{
      width: 50%;
      margin: auto;
      border: 3px solid white;
      border-radius: 15px;
      background-color: white;
    }
}